# ===============================
# .NET Core / Blazor
# ===============================

# Compiled files
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio / Rider / VS Code
.vs/
.vscode/
.idea/

# NuGet packages
*.nupkg
packages/
*.snupkg
.nuget/

# ASP.NET / Blazor
wwwroot/lib/
*.db
*.pdb
appsettings*.json
appsettings.Local.json
secrets.json

# Logs
*.log

# Node
node_modules/
dist/

# Mac / Linux system files
.DS_Store
Thumbs.db

# Environment files
.env
publish