@page "/newentry"
@using DailyNotes.Models
@inject DailyNotes.Services.EntryService EntryService
@inject NavigationManager nav
@inject DailyNotes.Services.UserService UserService

<h3>Create New Entry</h3>

<div class="mb-3">
    <label>Title</label>
    <input class="form-control" @bind="title" />
</div>

<div class="mb-3">
    <label>Content</label>
    <textarea class="form-control" @bind="content"></textarea>
</div>

<div class="form-check mb-3">
    <input type="checkbox" class="form-check-input" @bind="isPublic" />
    <label class="form-check-label">Public</label>
</div>

<button class="btn btn-primary" @onclick="Save">Save</button>

@code {
    string title = "";
    string content = "";
    bool isPublic = false;

    async Task Save()
    {
        await EntryService.SaveEntryAsync(new Entry
        {
            Title = title,
            Content = content,
            IsPublic = isPublic
        });

        nav.NavigateTo("/entries");
    }
}
