@page "/prompt"
@attribute [Authorize]

<h2>Daily Prompt</h2>
<p>What emotion dominated your day and why?</p>

<button class="primary-btn" @onclick="GoToNewEntry">Write My Entry</button>

@code {
    [Inject] NavigationManager Navigation { get; set; }

    void GoToNewEntry()
    {
        Navigation.NavigateTo("/newentry");
    }
}