@page "/public"
@using DailyNotes.Models
@inject DailyNotes.Services.EntryService entryService

<h2 class="page-title">Public Entries</h2>

@if (entries is null)
{
    <p>Loading...</p>
}
else if (entries.Count == 0)
{
    <p>No public entries found.</p>
}
else
{
    <div class="entries-grid">
        @foreach (var e in entries)
        {
            <div class="entry-card">

                <h3>@e.Title</h3>
                <p class="entry-date">@e.CreatedAt.ToString("MMMM dd, yyyy")</p>

                <p>@Shorten(e.Content)</p>

                <button @onclick="() => ToggleLike(e.Id)">
                    👍 @e.Likes
                </button>

                <a class="primary-btn" href="/viewentry/@e.Id">View</a>
            </div>
        }
    </div>
}

@code {
    List<Entry>? entries;
    Entry? entry;

    protected override async Task OnInitializedAsync()
    {
        entries = await entryService.GetPublicEntriesAsync();
    }
    private string Shorten(string text)
    {
        if (string.IsNullOrWhiteSpace(text))
            return "";

        return text.Length <= 150 ? text : text.Substring(0, 150) + "...";
    }

    async Task LoadEntries()
    {
        entries = await entryService.GetPublicEntriesAsync();
    }

    async Task ToggleLike(string entryId)
    {
        var updated = await entryService.LikeEntryAsync(entryId);

        if (updated != null)
        {
            var index = entries.FindIndex(e => e.Id == entryId);
            if (index != -1)
            {
                entries[index] = updated;
            }

            StateHasChanged();
        }
    }
}
