@inherits LayoutComponentBase
<footer>
    <p>&copy; 2024. <br /> Nicolas Foti, Sariah Wandler, & Daniel Vergara </p>
    <a href="README.md" target="_blank" rel="noopener noreferrer">User Guide</a>
</footer>