<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DailyNotes</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/prompt">
                <span class="bi bi-lightbulb-fill"></span> Daily Prompt
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/entries">
                <span class="bi bi-journal-text"></span> My Entries
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/newentry">
                <span class="bi bi-pencil-square"></span> Create Entry
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/public">
                <span class="bi bi-globe-americas"></span> Public Entries
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/login">
                <span class="bi bi-person-circle"></span> Log In
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/register">
                <span class="bi bi-person-circle"></span> Register
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/logout">
                <span class="bi bi-box-arrow-right"></span> Log Out
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
